
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }


    .topbar {
      background: #3a4f65;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
    }

    .menu-btn {
      font-size: 24px;
      cursor: pointer;
      border: none;
      background: none;
      visibility: visible;
    }

    .search-box input {
      padding: 8px;
      border: 1px solid #5ea2d5;
      border-radius: 5px;
    }

    /* ======== MENÚ LATERAL ======== */
    .sidebar {
      width: 220px;
      background: #3a4f65;   
      color: rgb(239, 234, 234);          
      height: 100%;
      position: fixed;
      top: 0;
      left: -220px; 
      transition: left 0.3s ease;
      padding-top: 20px;
      font-family: Verdana, sans-serif;
    }


    .sidebar-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 15px 15px 15px; 
      width: 100%; 
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      text-align: left; 
      font-size: 25px;
    }

    .sidebar-header:hover {
      background: #4e6986;   
    }

    .sidebar-header .menu-icon {
      margin-right: 10px;
    }
    .sidebar-header h2 {
        margin: 0;
        font-size: 25px;
    }
    .sidebar a {
      display: flex;
      color: rgb(11, 222, 250);          
      padding: 10px 20px;
      text-decoration: none;
      transition: 0.3s;
    }

    .sidebar a:hover {
      background: #4e6986;   
    }

    /* ======== CONTENIDO PRINCIPAL ======== */
    .main {
      padding: 20px;
    }

    .sidebar.active {
      left: 0; 
    }

    /* Botón hasta abajo en el menú lateral */
.logout-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: #d9544f00;
  color: white;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background: #c9302c;
}



/* Botones para mostrar tablas */
.topbar-buttons {
  display: flex;
  gap: 8px;
}

.topbar-buttons button {
  padding: 6px 12px;
  background: #0badea;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.mi-imagen {
      width: 40px; /* Define el ancho de la imagen */
      height: 40px; /* Define la altura de la imagen */
}
.topbar-buttons button:hover {
  background: #0794bf;
}

/* Contenido principal */
.main {
  padding: 80px 20px 20px 20px;
}

/* Tablas ocultas por defecto */
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  display: none;
}

.data-table th, .data-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background: #3a4f65;
  color: white;
}
