.titule::before {
  content: 'Funciones Destacadas';
}
.text::before {
  content: 'Gestión de Accesos';
}
.parrafo::before {
  content: 'Manten un control de entradas y salidas de las privadas en administración, con un registro instantáneo, historial de visitas y complementado con un monitoreo en tiempo real.';
}
.text2::before {
  content: 'Administración de Residentes';
}
.parrafo2::before {
  content: 'Modifica los datos de tus residentes, control de las caracteristicas de los residentes como sus pagos, historial de actividad, reportes automáticos y demas funciones.';
}
.text3::before {
  content: 'Comunicación Interna';
}
.parrafo3::before {
  content: 'Con implementación de avisos globales, notificaciones inmediatas, calendario de eventos y coordinación vecinal tendras comunicado a toda la privada con informacion actualizada y al momento.';
}


.feature-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 90px 0;
  animation: fadeInUp 1.3s ease;
}

.feature-block.reverse {
  flex-direction: row-reverse;
}

.feature-img-half {
  width: 50vw;
  height: 28vw;
  max-height: 420px;
  object-fit: cover;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.25);
  border: 3px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.22);
  transition:
    transform 0.8s ease,
    box-shadow 0.8s ease;
  display: block;
}

.feature-img-half:hover {
  transform: scale(1.07);
  box-shadow: 0px 18px 40px rgba(0, 0, 0, 0.28);
}

.feature-text {
  max-width: 550px;
  padding: 40px;
  text-align: left;
  animation: fadeInUp 1.3s ease;
}