.centerC {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  
}
@font-face {
  font-family: "RobotoM";
  src: 
    local(RobotoM),
    url("../RobotoM.ttf") format("truetype");
}
.alerttxt{
    color: tomato;
}
body{
    font-family: "RobotoM";
}

.centerT{
  text-align: center;
}
.Ccontainer{
  margin: 0 auto;
  border: 6px solid red;
  border-radius: 3px;
  padding: 0 20px 20px 20px;
  background: rgb(248, 255, 146);
  
}

