.fin::before{
    content: "© 2025 Nexus Access. Todos los derechos reservados.";
}

footer {
  background: #1f2b6c;
  color: white;
  text-align: center;
  padding: 22px;
  margin-top: 40px;
  animation: fadeIn 2s ease;
}