header {
  background: #161b50;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  animation: fadeInDown 0.9s ease;
}


nav {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-left: 0; /* elimina el desplazamiento forzado */
  margin-right: 60px; /* crea equilibrio visual */
}

nav a {
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition:
    color 0.3s ease,
    transform 0.3s;
}

nav a:hover {
  color: #99a6ff;
  transform: translateY(-3px);
}


.logo {
  position: relative;
  padding-left: 50px; /* espacio reservado para la imagen */
}

.logo-img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* centra la imagen verticalmente */
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logo-text {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.logo-text::before{
  content: "Nexus Access ";
}
.seccion1::before{
  content: "Inicio";
}
.seccion2::before{
  content: "Acerca";
}
.seccion3::before{
  content: "Funciones";
}
.seccion4::before{
  content: "Contacto";
}
